@model TblUser

@{
    ViewData["Title"] = "Details";
    Layout = "_User.cshtml";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateLastActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateLastActivity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
