@model SupportForum.Models.TblTopic

@{
    ViewData["Title"] = "Details";
    Layout = "_Topic.cshtml";
}

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAnonymous)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAnonymous)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdForumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdForumNavigation.Id)
        </dd>
        @if(Model.IsAnonymous == true)
        {
            <dt class="col-sm-2">
                <label>Анонимный вопрос</label>
            </dt>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IdInitiatorNavigation)
            </dt>
        }
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInitiatorNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
</div>
@if(Model.TblCommunications.Any())
{
    @using (Html.BeginForm())
    {
        <h4>Обсуждение</h4>
        <a title="Добавить к обсуждению" class="btn rounded-circle lh-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasActionForum" aria-controls="offcanvasActionForum"
           onclick="GetCreateCommunicationVC(1, @Model.Id );">
            <img src="/src/chat-left-text.svg" width="24" height="24" />
        </a>

        <div class="treeview">
            @{
                ShowTreeMessage(Model.TblCommunications.Where(w => w.IdParent == null && w.IdTopic != null));
            }
        </div>
    }
}


@functions {

    public void ShowTreeMessage(IEnumerable<SupportForum.Models.TblCommunication> model)
    {
        <ul class="list-group">
            @foreach (var item in model)
            {
                <li class="list-group-item node-treeview10">
                    @Html.DisplayFor(modelItem => item.TextMsg) ->@Html.DisplayFor(modelItem => item.IsAnswer) ->@Html.DisplayFor(modelItem => item.Estimate)
                    <br />
                    <a href="/Topic/EditMessage/@item.Id">Edit</a> ->@Html.DisplayFor(modelItem => item.IsEdit)
                    <br />
                    @Html.DisplayFor(modelItem => item.TimeCreate)
                    <a href="/User/Details/@item.IdInitiator"> @Html.DisplayFor(modelItem => item.IdInitiatorNavigation.FullName)</a>

                    @if (item.TblReactions.Any())
                    {
                        <p>Like = </p>@Html.DisplayFor(reaction => item.TblReactions.Where(w => w.IsLike == true).Count())
                        <p>Dislike = </p>@Html.DisplayFor(reaction => item.TblReactions.Where(w => w.IsDislike == true).Count())
                    }
                    @if (item.InverseIdParentNavigation.Any())
                    {
                        ShowTreeMessage(item.InverseIdParentNavigation);
                    }
                </li>
            }
        </ul>
    }
}

<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasActionForum" aria-labelledby="offcanvasActionForumLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasActionForumLabel"></h5>
        <button type="button" class="btn-close btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="pnlOffcanvasBody">
    </div>
</div>
