@addTagHelper *, ViewComponentSample
@model IEnumerable<SupportForum.Models.TblForum>

@{
    Layout = "_Forum.cshtml";
}

<h1>
    @if(Model.Where(w => w.IdParent == null && w.IdCategory != null).Select(s => s.IdCategoryNavigation.IsModeration).FirstOrDefault() == true)
    {
        <a title="Создать форум" class="btn rounded-circle lh-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasActionForum" aria-controls="offcanvasActionForum">
            <img src="/src/plus-circle-fill.svg" width="24" height="24" />
        </a>
    }
    @Model.Where(w => w.IdParent == null && w.IdCategory != null).Select(s => s.IdCategoryNavigation.Title).FirstOrDefault()
</h1>

<div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasActionForum" aria-labelledby="offcanvasActionForumLabel">
    @{
        ShowActionForm(new TblForum()
        { 
            IdInitiator = 1,
            IdCategory = Model.Where(w => w.IdParent == null && w.IdCategory != null).Select(s => s.IdCategory).FirstOrDefault(),
            IdParent = null
            },
            "CreateForum", "Создание форума");
    }
</div>

@using (Html.BeginForm())
{
    <div class="treeview" id="forumTreeView">
        @{
            ShowTreeData(Model.Where(w => w.IdParent == null).Select(s => s));
        }
    </div>
}

@functions {
    public async void ShowActionForm(TblForum forum, string componentName, string actionName)
    {
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasActionForumLabel">@actionName</h5>
            <button onclick="btnActionFormClick" type="button" class="btn-close btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            @await Component.InvokeAsync(componentName, forum)
        </div>
    }

    public void ShowTreeData(IEnumerable<SupportForum.Models.TblForum> model)
    {
        <ul class="list-group">
            @foreach (var item in model)
            {
                <li class="list-group-item node-treeview10">

                <div id="forumTreeView_@item.Id">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="hdr_@item.Id">
                                <button class="forum-icon accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#branch_@item.Id" aria-expanded="true" aria-controls="branch_@item.Id">
                                    @Html.DisplayFor(modelItem => item.Title) | @Html.DisplayFor(modelItem => item.Descriptions)
                                </button>
                            </h2>
                            <div id="branch_@item.Id" class="accordion-collapse collapse show" aria-labelledby="hdr_@item.Id" data-bs-parent="#forumTreeView_@item.Id">
                                <div class="accordion-body">
                                    <a href="/Forum/Edit/@item.Id">Edit</a> |
                                    <a href="/Forum/Details/@item.Id">Details</a> |
                                    <a href="/Forum/Delete/@item.Id">Delete</a>
                                    <br />
                                    <a href="/User/Details/@item.IdInitiator"> @Html.DisplayFor(modelItem => item.IdInitiatorNavigation.FullName)</a>

                                    @if (item.TblTopics.Any())
                                    {
                                        <ul class="list-group">
                                            @foreach (var topic in item.TblTopics)
                                            {
                                                <li class="list-group-item node-treeview10">
                                                    <a href="#" class="topic-icon" style="color:inherit;">@Html.DisplayFor(topicItem => topic.Title)</a> | @Html.DisplayFor(topicItem => topic.Descriptions)
                                                    <br />
                                                    <a href="/Topic/Edit/@topic.Id">Edit</a> |
                                                    <a href="/Topic/Details/@topic.Id">Details</a> |
                                                    <a href="/Topic/Delete/@topic.Id">Delete</a>
                                                    <br />
                                                    @foreach (var tag in topic.IdTags)
                                                    {
                                                        @Html.DisplayFor(kw => tag.Tag)
                                                    }
                                                    <br />
                                                    @if (topic.IsAnonymous == true)
                                                    {
                                                        <label>Анонимный вопрос</label>
                                                    }
                                                    else
                                                    {
                                                        <a href="/User/Details/@topic.IdInitiator"> @Html.DisplayFor(modelItem => topic.IdInitiatorNavigation.FullName)</a>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                    @if (item.InverseIdParentNavigation.Any())
                                    {
                                        ShowTreeData(item.InverseIdParentNavigation);
                                    }
                                </div>
                            </div>
                        </div>
                </div>
                </li>
            }
        </ul>
    }
}

