@model SupportForum.Models.ViewModels.TopicViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Topic.Id" />
            <div class="form-group">
                <label asp-for="Topic.Title" class="control-label"></label>
                <input asp-for="Topic.Title" class="form-control" />
                <span asp-validation-for="Topic.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.Descriptions" class="control-label"></label>
                <input asp-for="Topic.Descriptions" class="form-control" />
                <span asp-validation-for="Topic.Descriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic.IsAnonymous" class="control-label"></label>
                <input asp-for="Topic.IsAnonymous" class="form-control" />
                <span asp-validation-for="Topic.IsAnonymous" class="text-danger"></span>
            </div>

            @Html.Hidden("Topic.IdInitiator", @Model.Topic.IdInitiator)
            @Html.Hidden("Topic.IdForum", @Model.Topic.IdForum)
            @Html.Hidden("Topic.TimeCreate", Model.Topic.TimeCreate)
            @Html.Hidden("IdForumCategory", @Model.IdForumCategory)
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>